@charset "UTF-8";
@import "reset.css";

/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#header .inner {
  height: 100px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 100px;
  bottom: 39px;
}
#header .inner > h1 > a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 0;
  color: #fff;
}

#header .inner #gnb {
  position: absolute;
  right: 100px;
  bottom: 35px;
}
#header .inner #gnb li {
  float: left;
}
#header .inner #gnb li a {
  display: block;

  margin-left: 65px;

  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 0;
  color: #fff;
}
#header .inner #gnb li a:hover {
  color: #fff;
}

#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9999px;
  transition: 0.5s;
}
#header .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}

/* 모바일 메뉴 */
#header .inner .menuMo {
  width: 100%;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 38px 30px;
  transform: translateY(-100%);
  transition: 0.5s;
}

#header .inner .menuMo.on {
  transform: translateY(0);
}
#header .inner .menuMo h1 {
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a {
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 1em;
}
#header .inner .menuMo h1 span {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
}

#header .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #888;

  line-height: 1em;
  letter-spacing: 0;
}

/* visual */
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#visual .visualWrap {
  position: absolute;
  top: 50%;
  left: 0;
}
#visual .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#visual img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
}
#visual .inner {
  position: relative;
  height: 100vh;
  margin: 0 100px;
}
#visual .inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  line-height: 1em;
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 20px;
}

#visual .inner h2 {
  font-size: 30px;
  color: #ccc;
  margin-bottom: 10px;
  line-height: 1em;
}

#visual .inner p {
  color: #888;

  margin-bottom: 70px;
}
#visual .inner a {
  display: inline-block;

  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #555;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
}
#visual .inner a:hover {
  background: #fff;
  color: #555;
}

#visual .inner .svgWrap {
  position: absolute;
  right: 0;
  top: 150px;
  width: 280px;
  height: 280px;
}

#visual .inner .svgWrap > div {
  position: relative;
}

#visual .inner .svgWrap > div::after {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  margin-top: -2px;
  content: "";
  display: block;
  width: 245px;
  height: 245px;
  border: 1px solid #555;
  border-radius: 50%;
}

#visual .inner .svgWrap > div::before {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  margin-top: -2px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  opacity: 1;
  border: 26px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

#visual .inner svg {
  fill: #888;
  height: auto;
  width: 245px;
  transform-origin: center;
  width: 100%;
}

#visual .inner text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 5px;
  letter-spacing: 1px;
}

/* news */
#news {
  width: 100%;
  padding: 160px 80px 160px 100px;
}
#news .inner {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
#news .inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #222;
  text-align: center;
  margin-bottom: 80px;
  line-height: 1em;
}

#news .inner .wrap article {
  position: relative;
  width: calc(25% - 20px);
  min-height: 300px;
  float: left;
  margin-right: 20px;
  box-shadow: 0 0 5px rgb(51 51 51 / 13%);
}
#news .inner .wrap article .content {
  box-sizing: border-box;
  padding: 30px 30px 35px;
}
#news .inner .wrap article:last-child {
  margin-right: 0;
}
#news .inner .wrap article .pic {
  width: 100%;
  height: 170px;
  overflow: hidden;
}
#news .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

#news .inner .wrap article .pic:hover img {
  transform: scale(1.2);
}

#news .inner .wrap article h2 {
  margin-bottom: 20px;
  color: #555;
  font-weight: 800;
  font-size: 20px;
}
#news .inner .wrap article p {
  font-size: 16px;
  color: #777;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

#news .inner .wrap article a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #777;
}
#news .inner .wrap article a i {
  float: right;
  color: #bbb;
}

/* brand */
#brand {
  width: 100%;
  background: #eee;
}
#brand .inner {
  margin: 0 100px;
  position: relative;
}
#brand .inner h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #222;
  text-align: left;
  margin-bottom: 80px;
  line-height: 1em;
  padding-top: 200px;
}
#brand .inner .wrap article:nth-of-type(1) {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  float: left;
  padding: 170px 50px 0;
}
#brand .inner .wrap article:nth-of-type(1) i {
  font-size: 100px;
  color: #fff;
  margin-bottom: 20px;
}
#brand .inner .wrap article:nth-of-type(1) h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
}

#brand .inner .wrap article:nth-of-type(1) h3 {
  color: #999;
}
#brand .inner .wrap article:nth-of-type(1) p {
  margin-top: 30px;
  color: #888;
  max-height: 228px;
  overflow: hidden;
  margin-bottom: 60px;
}

#brand .inner .wrap article:nth-of-type(1) a {
  display: inline-block;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ddd;
  border: 1px solid #555;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0;
}
#brand .inner .wrap article:nth-of-type(2) {
  width: 100%;
  height: 400px;
  background: #444;
  float: left;
}

#brand .inner .wrap article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#brand .inner .btn {
  position: absolute;
  right: 500px;
  bottom: 400px;
}

#brand .inner .btn a {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 27px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

#brand .inner .btn a span {
  text-indent: -9999px;
  visibility: hidden;
}

/* banner */
#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
#banner .inner {
  max-width: 1180px;
  margin: 0 auto;
}
#banner .inner h1 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
}
#banner .inner p {
  color: #bbb;
  text-align: center;
}

/* achievements */
#achievements {
  width: 100%;
  padding: 150px 0;
  background: #fff;
}
#achievements .inner {
  max-width: 1200px;
  margin: 0 auto;
}
#achievements .inner h1 {
  text-align: center;
  margin-bottom: 50px;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #222;
  letter-spacing: 0;
  line-height: 1em;
}

#achievements .inner ul {
  width: 100%;
  overflow: hidden;
}
#achievements .inner ul li {
  position: relative;
  float: left;
  width: 33.33%;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 0;
  transition: 0.5s;
  font-size: 70px;
  line-height: 1em;
  color: #333;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
}

/* #achievements .inner ul li::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: skewX(-10deg);
  margin-top: -25px;
  content: "";
  display: block;
  background: #ccc;
  width: 5px;
  height: 50px;
} */

#achievements .inner ul li:last-child:after {
  display: none;
}

#achievements .inner ul li::after #achievements .inner ul li a {
  font: 12px/1 "arial";
  color: #555;
  float: left;
  transition: 0.5s;
}
#achievements .inner ul li span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 20px;
  display: block;
  font-size: 20px;
  color: #888;

  transition: 0.5s;
  letter-spacing: 0;
}

/* footer*/
#footer {
  width: 100%;
  padding: 100px 30px;
  background: #444;
}
#footer .inner {
  max-width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #777;
  float: left;
  letter-spacing: 0;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #777;
  letter-spacing: 0;
}
#footer .inner address {
  width: 100%;
  float: left;
  font-size: 14px;
  font-style: normal;
  color: #777;
  margin-bottom: 20px;
  border-top: 1px solid #555;
  padding-top: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}
#footer .inner p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #666;
  width: 100%;
  float: left;
  letter-spacing: 0;
}

/* tablet */
@media screen and (max-width: 1179px) {
  /* header */
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner h1 {
    left: 30px;
  }

  #visual .visualWrap {
    padding: 0 30px;
  }
  #header .inner .menuWeb {
    display: none;
  }

  #header .inner .btnCall {
    display: block;
    z-index: 100;
  }

  /* visual */
  #visual .inner {
    width: 100%;
    padding: 0 30px;
    margin: 0;
  }
  #visual .inner h1 {
    font-size: 12vmin;
  }

  /* news */
  #news {
    padding: 100px 30px;
  }
  #news .inner {
    width: 100%;
  }

  #news .inner .wrap article {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 60px;
  }
  #news .inner .wrap article:nth-of-type(even) {
    margin-right: 0;
  }
  #news .inner .wrap article .pic {
    height: 20vmax;
  }

  /* brand */
  #brand {
    padding: 0 30px;
  }

  #brand .inner {
    width: 100%;
    margin: 0;
  }

  #brand .inner h1 {
    margin-right: 49%;
  }

  #brand .inner .wrap article:nth-of-type(1) {
    padding: 130px 35px 0;
    width: 49%;
  }
  #brand .inner .wrap article:nth-of-type(1) a {
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 130px;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    margin-right: 0px;
  }

  #brand .inner .btn {
    right: 49%;
  }

  /* banner */
  #banner {
    padding: 150px 30px;
  }
  #banner .inner {
    width: 100%;
  }

  /* achievements */
  #achievements {
    padding: 100px 30px;
  }
  #achievements .inner {
    width: 100%;
  }

  #achievements .inner ul li {
    font-size: 5.5vmin;
    padding: 15px 10px;
  }
  #achievements .inner ul li span {
    font-size: 16px;
    line-height: 1.2em;
  }

  #achievements .inner ul li::after {
    width: 3px;
    height: 30px;
  }
  #achievements .inner ul li a {
    margin-bottom: 20px;
  }

  /* footer */
  #footer {
    padding: 80px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  /* visual*/
  #visual img {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 539px) {
  /* menuMo */
  #header .inner .menuMo h1 a {
    font-size: 9vmin;
  }
  #header .inner .menuMo ul li a {
    font-size: 7vmin;
  }

  /* visual */
  #visual .inner h2 {
    font-size: 6vmin;
  }
  #visual .inner a {
    font-size: 15px;
  }

  #visual .inner p {
    height: 65px;
    margin-bottom: 45px;
    overflow: hidden;
  }

  /* news */
  #news .inner .wrap article {
    width: 100%;
    margin-right: 0%;
  }

  #news .inner .wrap article .pic {
    height: 30vmax;
  }

  /* brand */
  #brand .inner h1 {
    width: auto;
    text-align: center;
    padding: 100px 30px 0;
    margin: 0 0 80px;
    font-size: 8vmin;
  }

  #brand .inner .wrap article:nth-of-type(1) {
    position: inherit;
    width: 100%;
    height: 400px;
    margin-right: 0%;
    padding: 50px;
  }

  #brand .inner .wrap article:nth-of-type(1) a {
    font-size: 15px;
  }

  #brand .inner .wrap article:nth-of-type(1) p {
    height: 86px;
    margin-bottom: 30px;
  }

  #brand .inner .wrap article:nth-of-type(2) {
    width: 100%;
  }
  #brand .inner .btn {
    right: 0;
    bottom: 340px;
  }

  /* achievements */
  #achievements {
    padding-bottom: 70px;
  }

  #achievements .inner h1 {
    font-size: 8vmin;
  }
  #achievements .inner ul li {
    float: none;
    width: auto;
    margin-bottom: 30px;
    font-size: 11vmin;
  }

  #achievements .inner ul li::after {
    top: 100%;
    right: 50%;
    margin-top: 15px;
  }

  #news .inner h1 {
    font-size: 8vmin;
  }
  /* banner */
  #banner {
    padding: 120px 30px;
  }

  /* footer */
  #footer .inner h1 {
    float: none;
  }
  #footer .inner ul {
    margin-top: 10px;
    float: none;
  }
  #footer .inner ul li {
    margin-left: 0px;
    margin: 5px;
  }
  #footer .inner ul li:first-child {
    margin-left: 0;
  }
}
