@charset "UTF-8";
$about_responsive: 700px;
.tac {
  text-align: center;
}

/*about*/
.about {
  text-align: center;
  > div {
    @include marginAuto();
  }
  h3 {
    @include title1(60px);
  }
  .aboutList {
    text-align: center;
    overflow: hidden;
    margin-bottom: 80px;
    li {
      position: relative;
      float: left;
      display: block;
      width: 33.33%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 15px 0;
      @include title2();
      em {
        position: relative;
        display: inline-block;
        line-height: 1.5;
        @include numFont();
        &::after {
          @include cont_poa();
          top: -30px;
          left: 50%;
          margin-left: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $mainColor;
        }
      }
      span {
        display: block;
      }
    }
  }
  /*service*/
  .service {
    position: relative;
    background-color: $bgColor;
    max-width: 100%;
    padding-bottom: 0;
    > div {
      p {
        margin-bottom: 0;
      }
      &::after {
        @include cont_poa();
        bottom: -292px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 292px;
        background-color: $bgColor;
      }
    }
    svg {
      width: 110px;
      height: 110px;
      fill: $mainColor;
    }
    .iconList {
      text-align: center;
      overflow: hidden;
      margin-bottom: 100px;
      li {
        float: left;
        width: 33.33%;
      }
      span {
        @include title2();
      }
    }
  }
}

@media screen and (max-width: $about_responsive) {
  /*about*/
  .about {
    > div {
      padding-bottom: 70px;
    }
    h3 {
      font-size: 25px;
      margin-bottom: 20px;
    }
    .aboutList {
      margin-bottom: 40px;
      li {
        float: none;
        width: 100%;
        margin-bottom: 0;
        font-size: 17px;
        em {
          font-size: 40px;
          &::after {
            @include cont_poa();
            top: -15px;
            margin-left: -5px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    /*service*/
    .service {
      position: relative;
      background-color: $bgColor;
      max-width: 100%;
      padding-bottom: 0;
      > div {
        p {
          margin-bottom: 0;
        }
        &::after {
          @include cont_poa();
          bottom: -292px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 292px;
        }
      }
      svg {
        width: 80px;
        height: 80px;
      }
      .iconList {
        text-align: center;
        overflow: hidden;
        margin-bottom: 60px;
        li {
          float: none;
          width: 100%;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span {
          font-size: 17px;
        }
      }
    }
  }
}
