@charset "UTF-8";

/*반응형*/
$tablet: 1240px;
$mobile: 539px;

/*title*/
$titleStyle: "Montserrat", sans-serif;
$fontStyle: "Roboto", sans-serif;

/*font*/
@mixin title1($mb: 60px) {
  font-family: $titleStyle;
  font-weight: 600;
  font-size: 30px;
  color: #555;
  line-height: 1.3em;
  margin-bottom: $mb;
}

@mixin title2($ta: center, $color: #999, $ff: $titleStyle, $fz: 20px) {
  font-family: $ff;
  font-weight: 500;
  font-size: $fz;
  color: $color;
  letter-spacing: 0;
  text-align: $ta;
}

@mixin numFont($fz: 70px, $c: #333, $lh: 1em) {
  font-size: $fz;
  line-height: $lh;
  color: $c;
  letter-spacing: 0;
  font-family: $titleStyle;
}

/*color*/
$mainColor: #0056f1;
$bgColor: #f8f9fd;
$borderColor: #ddd;
$circleColor: #aaa;

/*가상선택자*/
@mixin cont_poa() {
  position: absolute;
  content: "";
  display: block;
}
@mixin cb() {
  content: "";
  display: block;
  clear: both;
}

/*중앙정렬*/
@mixin marginAuto($padding: 100px) {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: $padding;
  @media screen and (max-width: $tablet) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (max-width: $mobile) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Box Style*/
@mixin boxStyle($pb: 200px, $pt: 110px) {
  padding-top: $pt;
  background-color: #f8f9fd;
  padding-bottom: $pb;
  div {
    @include marginAuto(0);
  }
  @media screen and (max-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 130px;
  }
  @media screen and (max-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
