.formWrap {
  table {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;

    th {
      width: 20%;
      text-align: left;
      padding: 20px 30px;
      font: bold 14px/1 "arial";
      color: #666;
      border-right: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      background: #eee;

      &:last-child {
        border: none;
        text-align: center;
        background: #fff;
        font-size: 0;
      }

      input[type="reset"],
      input[type="submit"] {
        width: 150px;
        height: 40px;
        border: none;
        background: #444;
        font: bold 14px/1 "arial";
        color: #fff;
        margin: 0 10px;
      }
    }

    td {
      border-bottom: 1px solid #bbb;
      padding: 20px 30px;

      input[type="text"],
      input[type="password"],
      select {
        width: 30%;
        height: 30px;
        border: 1px solid #bbb;
        background: #eeffff;
        padding-left: 20px;
      }

      label {
        margin-right: 30px;
      }

      #comment {
        width: 80%;
        height: 100px;
        border: 1px solid #bbb;
        background: #eeffff;
        padding: 20px;
        resize: none;
      }
      .hobbyTxt,
      .genderTxt {
        font: 12px/1 "arial";
        color: hotpink;
        margin-bottom: 5px;
        display: none;
      }
    }
  }
}

/*tablet ------------------------------------------------------*/
@media screen and (max-width: $tablet) {
  .formWrap {
    table {
      th {
        width: 0%;
        display: none;

        &:last-child {
          width: 100%;
          display: block;
        }
      }

      td {
        input[type="text"],
        input[type="password"],
        select {
          width: 50%;
        }

        #comment {
          width: 90%;
        }

        .hobbyTxt,
        .genderTxt {
          display: block;
        }
      }
    }
  }
}

/*mobile --------------------------------------------------------*/
@media screen and (max-width: $mobile) {
  .formWrap {
    table {
      th {
        input[type="reset"],
        input[type="submit"] {
          width: 40%;
          margin: 0 5%;
        }
      }

      td {
        input[type="text"],
        input[type="password"],
        select {
          width: 100%;
        }

        #comment {
          width: 100%;
        }

        label {
          display: block;
        }
      }
    }
  }
}
