$formStyle_responsive: 700px;

/*table style*/
@mixin formTitle() {
  h2 {
    @include title2($fz: 30px, $color: #333);
    font-weight: 600;
    margin-bottom: 40px;
    text-align: left;
    em,
    span {
      display: block;
      line-height: 1.5;
    }
    span {
      font-size: 20px;
      font-weight: 500;
      color: #999;
      padding-bottom: 10px;
    }
  }
  @media screen and (max-width: $mobile) {
    h2 {
      font-size: 23px;
      margin-bottom: 10px;
      em,
      span {
        line-height: 1.3;
      }
      span {
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
  }
}

@mixin formTableStyle($thW: 20%, $sw: 30%, $tdp: 10px 0 10px 30px) {
  @include formTitle();
  table {
    width: 100%;
    th {
      width: $thW;
      text-align: left;
      padding: 10px 0;
      height: 90px;
      box-sizing: border-box;
      color: #666;
      .required {
        position: relative;
        &::after {
          @include cont_poa();
          top: -10px;
          left: 0;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $mainColor;
        }
      }

      &:last-child {
        border: none;
        text-align: center;
        background: #fff;
        font-size: 0;
        padding-top: 60px;
      }
      &.pdt {
        padding-top: 0;
        text-align: left;
      }
      label {
        font-family: $fontStyle;
        font-size: 20px;
        font-weight: 600;
        color: #555;
        vertical-align: middle;
      }
      input[type="reset"],
      input[type="submit"] {
        @include btnStyle();
        &.signInBtn {
          width: 100%;
        }
      }
    }

    td {
      padding: $tdp;

      input[type="text"],
      input[type="password"],
      select {
        width: 100%;
        height: 30px;
        padding: 30px 20px;
        border: none;
        font-size: 18px;
        font-family: $fontStyle;
        font-weight: 400;
        color: #333;
        background-color: #ededed;
        box-sizing: border-box;
        border-radius: 5px;
      }

      label {
        color: #555;
        margin-right: 30px;
      }

      #country {
        width: 100%;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        resize: none;
      }
      .hobbyTxt,
      .genderTxt {
        color: $mainColor;
        margin-bottom: 5px;
        display: none;
      }
    }
  }

  /* mobile */
  @media screen and (max-width: 700px) {
    table {
      th {
        display: none;

        &:last-child {
          padding-top: 30px;
          width: 100%;
          display: block;
          input[type="reset"],
          input[type="submit"] {
            display: inline-block;
            width: 40%;
            margin: 0 5%;
            font-size: 18px;
          }
        }
      }

      td {
        padding-left: 0;
        input[type="text"],
        input[type="password"],
        select {
          width: 100%;
          padding: 25px 15px;
        }

        #country {
          width: 100%;
          height: 50px;
          line-height: 50px;
        }

        label {
          display: block;
        }
        .genderTxt {
          display: block;
        }
      }
    }
  }
}

@mixin agreement() {
  .terms {
    width: 100%;
    height: 300px;
    padding: 20px;
    color: #555;
    background: #ededed;
    margin-bottom: 10px;
    resize: none;
    border: none;
    font-family: $fontStyle;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.8;
    border-radius: 5px;
    @include formTitle();
  }
  .agreement {
    text-align: right;
    font-size: 12px;
    margin-bottom: 70px;
    line-height: 1.5;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .agree {
    font-family: $fontStyle;
    font-size: 18px;
    vertical-align: middle;
    color: #333;
  }
  .btnStyle {
    text-align: center;
    input[type="reset"],
    input[type="submit"] {
      @include btnStyle(0);
    }
  }
}

/*formStyle*/
.content .formStyle {
  position: relative;
  padding: 0 70px 170px;
  @include agreement();
  .formStyleVisual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .formStyleTitle {
    @include title2($fz: 7.5vmin, $color: #000);
  }
  .formStyleTxt {
    @include title2($fz: 20px, $color: #999, $fw: 500);
    display: block;
    margin-bottom: 60px;
    a {
      color: $mainColor;
      font-weight: 600;
    }
  }
  .formWrap {
    position: relative;
  }
  .formStyleStepList {
    max-width: 700px;
    margin: 0 auto 100px;
    &::after {
      @include cb();
    }

    li {
      position: relative;
      float: left;
      width: 33.33%;
      &.on {
        .num {
          background-color: $mainColor;
          color: #fff;
        }
        .txt {
          font-weight: 600;
          color: #555;
        }
      }
      &::before {
        @include cont_poa();
        left: 50%;
        top: 31px;
        width: 100%;
        height: 2px;
        background: #ededed;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
    .num {
      position: relative;
      display: inline-block;
      width: 65px;
      height: 65px;
      background: #fff;
      border-radius: 50%;
      @include numFont($fz: 24px, $c: #555);
      line-height: 65px;
      background-color: #ddd;
    }
    .txt {
      margin-top: 10px;
      @include title2($fz: 18px, $color: #aaa, $ff: $fontStyle, $fw: 500);
      line-height: 1.5;
    }
  }
  .formStyleWrap {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    @include formTableStyle();
    text-align: left;
    &.w700 {
      max-width: 700px;
      margin-bottom: 20px;
      @include formTableStyle($tdp: 10px 0);
      table {
        .pdt {
          td {
            padding-top: 5px;
            label {
              display: inline;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .requiredTxt {
    position: absolute;
    top: 50px;
    right: 0;
    @include title2(
      $fw: 400,
      $color: $mainColor,
      $ta: right,
      $ff: $fontStyle,
      $fz: 18px
    );
    line-height: 1.3;
    span {
      position: relative;
      &::after {
        @include cont_poa();
        top: 8px;
        left: -13px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #0056f1;
      }
    }
  }
}
/* compeleted */
.compeletedWrap {
  padding-top: 0;
  padding-bottom: 170px;
  .compeleted {
    margin-top: 20px;
    svg {
      max-width: 200px;
      width: 25vmin;
      fill: $mainColor;
    }
    .compeletedTitle {
      @include title2($fz: 40px, $color: #000);
      margin-bottom: 20px;
    }
    .compeletedTxt {
      @include title2($fz: 20px, $color: #999, $fw: 500);
    }
  }
}

@media screen and (max-width: $formStyle_responsive) {
  .content .formStyle {
    padding: 0 30px 60px;
    @include agreement();
    .formStyleTitle {
      font-size: 35px;
    }
    .formStyleTxt {
      margin-top: 5px;
      margin-bottom: 40px;
      font-size: 18px;
    }
    .formStyleStepList {
      margin: 0 auto 50px;
      li {
        &::before {
          display: none;
        }
      }
      .num {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
      }
      .txt {
        font-size: 16px;
        line-height: 1.5;
      }
    }
    .compeleted {
      margin-top: 25px;
      .formStyleStepList {
        margin-bottom: 20px;
      }
    }
    .requiredTxt {
      display: none;
    }
  }
  .compeletedWrap {
    padding-top: 0;
    padding-bottom: 80px;
    .compeleted {
      margin-top: 10px;
      svg {
        width: 25vmin;
      }
      .compeletedTitle {
        font-size: 35px;
      }
      .compeletedTxt {
        padding: 0 20px;
        font-size: 18px;
      }
    }
  }
}
