@charset "UTF-8";

@import "reset";
@import "commons";

$mainMobile: 700px;
$easing: cubic-bezier(0.12, 0.41, 0.11, 0.9);

//skip Navi
#skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid $mainColor;
  font-weight: 600;
  color: $mainColor;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 200;
  &.on {
    top: 0;
  }
}

/*popup*/
#popup {
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 100;
  max-width: 700px;
  padding: 40px;
  margin: 100px;
  background: $bgColor;
  display: none;
  h1 {
    @include title2($ta: left, $color: #222, $fz: 30px);
    line-height: 1.5;
    margin-bottom: 10px;
  }
  p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  label {
    margin-left: 10px;
    color: #666;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.25s $easing;
    &:hover {
      color: $mainColor;
    }
  }
  input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .close {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #222;
    font-weight: 600;
    transition: color 0.25s $easing;
    &:hover {
      color: $mainColor;
    }
  }
  .content {
    width: 100%;
    min-height: 150px;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  #popup {
    top: 30vh;
    padding: 30px;
    right: auto;
    margin: 0 30px;
    h1 {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    p {
      font-size: 17px;
    }
    .close {
      bottom: 30px;
    }
    .content {
      width: 100%;
      min-height: 150px;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 300px) {
  #popup {
    .close {
      position: static;
      display: block;
      margin-top: 10px;
    }
  }
}
/*swiper commons*/
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  .swiper-wrapper {
    transition-timing-function: $easing;
  }
}

.auto {
  position: absolute;
  top: 150px;
  right: 100px;
  z-index: 10;
  li {
    float: left;
    margin-left: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    font-size: 20px;
  }
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
  transition: 0.25s $easing;
  .inner {
    height: 100px;
    margin: 0 auto;
    position: relative;
    > h1 {
      position: absolute;
      left: 100px;
      top: 38px;
      > a {
        @include title2($ta: left, $fz: 24px, $color: #fff);
        transition: 0.5s $easing;
      }
    }

    li {
      float: left;
      position: relative;
      a {
        @include title2($ta: left, $fz: 16px, $color: #fff);
        display: block;
        padding: 20px 0;
      }
    }
    #gnb {
      position: absolute;
      left: 275px;
      top: 0;
      a {
        position: relative;
        padding: 0;
        &::after {
          @include cont_poa();
          bottom: 37px;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: 0.5s $easing;
        }
        &:hover,
        &:active,
        &:focus {
          &::after {
            width: 100%;
          }
        }
      }
      .depth2 {
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -66px;
        min-width: 128px;
        padding: 15px 20px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: 0.5s $easing;
        li {
          float: none;
          padding: 10px 0;
          text-align: center;
          line-height: 1.5;
          a {
            display: inline-block;
            margin-left: 0;
            color: #222;
            transition: 0.25s $easing;
            &::after {
              bottom: 0;
              background-color: $mainColor;
            }
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
      > li {
        line-height: 105px;
        padding: 0 32px;
        &:first-child {
          margin-left: 65px;
        }
        &.on {
          > a {
            &::after {
              width: 100%;
            }
          }
          .depth2 {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
    .util {
      position: absolute;
      right: 100px;
      top: 29px;
      li:first-child {
        a {
          padding: 14px 16px;
          border: none;
        }
      }
      a {
        margin-left: 20px;
        padding: 13px 15px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        line-height: 16px;
        border-radius: 5px;
        transition: 0.25s $easing;
        &:hover {
          background: $mainColor;
          border-color: $mainColor;
        }
      }
    }
    .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s;
      }
      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }
      &.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px;
      }
      &.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px;
      }
      &.on span {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    .menuMo {
      width: 100%;
      height: 100vh;
      background: #000;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      padding: 70px 70px;
      transform: translateX(-100%);
      transition: 0.5s;
      &.on {
        transform: translateX(0);
      }
      h1 {
        padding-bottom: 30px;
        a {
          display: inline-block;
          color: #fff;
          font-family: $titleStyle;
          font-size: 60px;
          line-height: 1em;
        }
      }
      ul {
        li {
          float: none;
          a {
            margin-left: 0;
            display: inline-block;
            padding: 20px 0;
            @include title2(
              $ta: left,
              $color: #888,
              $ff: $titleStyle,
              $fz: 40px,
              $fw: 800
            );
            line-height: 1em;
            transition: 0.25s $easing;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
  &.on {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    .inner {
      > h1 {
        > a {
          color: #222;
          &:hover,
          &:active,
          &:focus {
            color: $mainColor;
          }
        }
      }
      a {
        color: #222;
        &:hover,
        &:active,
        &:focus {
          color: $mainColor;
        }
      }
      #gnb {
        li {
          &.on {
            > a {
              color: $mainColor;
              &::after {
                background-color: $mainColor;
              }
            }
          }
        }
        a {
          &::after {
            background-color: #222;
          }
          &:hover,
          &:active,
          &:focus {
            &::after {
              background-color: $mainColor;
            }
          }
        }
        .depth2 {
          border: 1px solid #ddd;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
        }
      }
      .util {
        li {
          a {
            &:hover {
              background: $mainColor;
              color: #fff;
            }
          }
          &:nth-child(2) {
            a {
              border: 1px solid rgba(0, 0, 0, 0.2);
              &:hover {
                border-color: $mainColor;
              }
            }
          }
        }
      }
      .btnCall {
        a {
          color: #fff;
        }
        &::before {
          background-color: #222;
        }
        &::after {
          background-color: #222;
        }
        span {
          background-color: #222;
        }
        &.on {
          &::before {
            background-color: #fff;
          }
          &::after {
            background-color: #fff;
          }
          span {
            background-color: #fff;
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  /* header */
  #header {
    .inner {
      width: 100%;
      height: 100px;
      h1 {
        left: 60px;
      }
      .menuWeb {
        display: none;
      }
      .menuMo {
        .util {
          position: static;
          right: auto;
          top: auto;
          margin-bottom: 40px;
          li {
            margin-left: 20px;
            float: left;
            a {
              position: relative;
              padding: 10px 0;
              border: none;
              font-size: 25px;
              background: none;
              color: #666;
            }
            &:first-child {
              padding: 0;
              margin-left: 0;
              a {
                padding-left: 0;
                padding-right: 20px;
                &::after {
                  content: "/";
                  position: absolute;
                  top: 50%;
                  right: -5px;
                  font-size: 20px;
                  margin-top: -10px;
                }
                &:hover {
                  &::after {
                    color: #666;
                  }
                }
              }
            }
          }
          &::after {
            @include cb();
          }
        }
      }

      .btnCall {
        display: block;
        z-index: 100;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  /* menuMo */
  #header {
    .inner {
      h1 {
        left: 30px;
      }
      .menuMo {
        padding: 38px 30px;
        h1 > a {
          font-size: 9vmin;
        }
        li {
          a {
            font-size: 7vmin;
          }
        }
      }
    }
  }
}

//visual transition
$visualTxtDelay: 1s;

@mixin visualTransition(
  $delay: $visualTxtDelay,
  $easing: $easing,
  $duration: 1.2s
) {
  overflow: hidden;
  > .children {
    display: block;
    transform: translate(0, 100%);
    transition: transform $duration $easing;
    transition-delay: $delay;
  }
}

@mixin visualTransitionActive($translate: translate(0, 0)) {
  .children {
    transform: $translate;
  }
}

/* visual */
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .visualWrap {
    position: absolute;
    top: 26%;
    left: 100px;
    z-index: 1;
  }
  .img {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    transition: transform 4s $easing;
    img {
      vertical-align: top;
    }
  }
  .swiper-slide {
    img {
      filter: brightness(0.7);
    }
  }
  .first {
    img {
      filter: brightness(1);
    }
  }
  .visualTitle {
    @include visualTransition();
    @include title2($ta: left, $fz: 90px, $color: #fff);
    em {
      line-height: 1;
    }
    span {
      margin-left: 10px;
      @include title2($ta: left, $fz: 80px, $color: #fff);
    }
  }
  .visualSubTitle {
    position: relative;
    margin-top: 20px;
    line-height: 1;
    display: inline-block;
    @include title2($ta: left, $fz: 60px, $color: #fff);
    @include visualTransition($delay: 1.3s);
    span {
      color: $mainColor2;
    }
    .children {
      position: relative;
      padding: 20px 60px;
      &::after {
        content: "[";
        display: block;
        position: absolute;
        top: -5px;
        left: 0;
        @include title2($ta: left, $fz: 100px, $color: $mainColor2, $fw: 600);
      }
      &::before {
        content: "]";
        display: block;
        position: absolute;
        top: -5px;
        right: 0;
        @include title2($ta: left, $fz: 100px, $color: $mainColor2, $fw: 600);
      }
    }
  }
  .visualTxt {
    max-width: $mainMobile;
    margin-top: 40px;
    @include title2(
      $ta: left,
      $fz: 18px,
      $color: #fff,
      $fw: 400,
      $ff: $fontStyle
    );
    line-height: 1.8;
    overflow: hidden;
    @include visualTransition($delay: 1.5s);
  }
  .visualBtn {
    margin-top: 60px;
    display: inline-block;
    .children {
      i {
        display: block;
        padding: 15px 50px;
        background-color: $mainColor;
        transition: all 0.3s $easing;
      }
    }
    @include visualTransition($delay: 2s);
    @include title2($fz: 20px, $color: #fff);
    &:hover {
      .children {
        i {
          color: $mainColor;
          background-color: #fff;
        }
      }
    }
  }
  /*swiper pagination*/
  .swiper-pagination {
    display: inline-block;
    top: 150px;
    height: 20px;
    text-align: right;
    padding-right: 190px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    left: auto;
    top: 350px;
    right: 100px;
    width: 60px;
    height: 60px;
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: 0.25s $easing;
    &::after {
      transform: scale(0.5);
    }
    &:hover {
      opacity: 1;
      border: 1px solid $mainColor;
      background-color: $mainColor;
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 180px;
  }

  .swiper-pagination-bullet {
    position: relative;
    margin-right: 30px;
    @include numFont($fz: 18px, $c: rgba(255, 255, 255, 0.5));
    font-weight: 600;
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    transition: margin 1s $easing;
    &::after {
      @include cont_poa();
      bottom: 2px;
      left: 35px;
      width: 0;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      transition: width 1s $easing;
    }
    &:last-child {
      margin-right: 0;
      &.swiper-pagination-bullet-active {
        margin-right: 80px;
      }
    }
  }
  .swiper-pagination-bullet-active {
    font-weight: 800;
    margin-left: 0;
    margin-right: 80px;
    color: #fff;
    &::after {
      width: 60px;
      display: block;
    }
  }
  .pageNavi {
    position: absolute;
    top: 203px;
    right: 110px;
    @include numFont($fz: 40px, $c: rgba(255, 255, 255, 0.7));
    font-family: $fontStyle;
    z-index: 1;
    .current {
      padding-right: 20px;
      @include numFont($fz: 90px, $c: #fff);
    }
    .total {
      padding-left: 20px;
      @include numFont($fz: 40px, $c: rgba(255, 255, 255, 0.7));
    }
  }

  /* scroll down */
  .scorll {
    position: absolute;
    right: 100px;
    bottom: 50px;
    z-index: 1;
    text-align: center;
    font-weight: 600;
    color: $mainColor2;
    opacity: 0.8;
    svg {
      width: 60px;
      fill: $mainColor2;
      opacity: 0.8;
    }
    i {
      margin-top: 10px;
      margin-bottom: 20px;
      display: block;
      font-size: 20px;
    }
  }

  //active
  .swiper-slide-active {
    .visualTitle {
      @include visualTransitionActive();
    }
    .visualSubTitle {
      @include visualTransitionActive();
    }
    .visualTxt {
      @include visualTransitionActive();
    }
    .visualBtn {
      @include visualTransitionActive();
    }
    .img {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 1490px) {
  /* visual */
  #visual {
    .visualWrap {
      top: 28vh;
    }
    .visualTitle {
      font-size: 70px;
      span {
        font-size: 50px;
      }
    }
    .visualSubTitle {
      font-size: 40px;
      &::after {
        top: -18px;
        font-size: 70px;
      }
      &::before {
        top: -18px;
        font-size: 70px;
      }
    }
    .visualBtn {
      font-size: 18px;
      .children {
        padding: 10px 35px;
      }
    }

    /*swiper pagination*/
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      top: 320px;
      width: 50px;
      height: 50px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 170px;
    }
    .pageNavi {
      font-size: 30px;
      .current {
        font-size: 60px;
      }
      .total {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  /* visual */
  #visual {
    .visualWrap {
      top: 29vh;
      left: 60px;
      padding-right: 60px;
    }
    .visualTitle {
      font-size: 60px;
    }
    .visualSubTitle {
      margin-top: 20px;
      font-size: 32px;
      .children {
        padding: 10px 40px;
        &::after {
          top: -2px;
          font-size: 50px;
        }
        &::before {
          top: -2px;
          font-size: 50px;
        }
      }
    }
    .visualTxt {
      margin-top: 30px;
      font-size: 17px;
      height: 60px;
      overflow: hidden;
    }
    .visualBtn {
      margin-top: 50px;
    }
    /*swiper pagination*/
    .swiper-pagination {
      padding-right: 160px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      top: auto;
      bottom: 10vh;
      right: 60px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 130px;
    }

    .pageNavi {
      right: 60px;
    }
    .auto {
      right: 60px;
    }
    .scorll {
      display: none;
    }
  }
}

@media screen and (max-width: $mainMobile) {
  /* visual */
  #visual {
    .visualWrap {
      padding-right: 0;
      width: calc(100vw - 60px);
      @include center();
      text-align: center;
    }
    .visualTitle {
      position: relative;
      text-align: center;
      font-size: 40px;
      .children {
        position: relative;
        padding: 0 0 30px;
        &::after {
          @include cont_poa();
          bottom: 0;
          left: 50%;
          width: 50px;
          height: 5px;
          margin-left: -27px;
          background-color: $mainColor;
        }
      }

      span {
        margin-left: 5px;
      }
    }
    .visualSubTitle {
      margin-top: 40px;
      padding: 0;
      display: block;
      text-align: center;
      font-size: 25px;

      .children {
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
      span {
        display: block;
        margin: 10px 0;
      }
    }
    .visualTxt {
      display: none;
    }
    .visualBtn {
      display: inline-block;
      margin-top: 40px;
      font-size: 16px;
    }

    /*swiper pagination*/
    .swiper-pagination {
      display: none;
      padding-right: 40px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 30px;
      bottom: 55px;
      width: 45px;
      height: 45px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 90px;
    }
    .pageNavi {
      display: none;
    }
    .auto {
      right: auto;
      top: auto;
      left: 10px;
      bottom: 65px;
    }
  }
}

/* main contents commons */
section {
  position: relative;
  color: #5d5d5d;
  line-height: 1.5;
  h1 {
    @include title2($color: #000, $fz: 40px);
    line-height: 1.3em;
    margin-bottom: 100px;
  }
  .contMainTitle {
    position: relative;
    display: inline-block;
    @include title2($color: #333, $fz: 5vmin);
    margin: 0 30px 40px;
    &::after {
      @include cont_poa();
      top: -40px;
      left: 0;
      width: 5vw;
      max-width: 100px;
      min-width: 50px;
      height: 10px;
      background-color: $mainColor;
    }
  }
  .contMainTxt {
    font-size: 18px;
    color: #5d5d5d;
    line-height: 1.5;
    margin: 0 30px 40px;
  }
  .mainViewBtn {
    position: relative;
    display: inline-block;
    padding: 8px 35px;
    margin-bottom: 100px;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    @include title2($fz: 17px, $color: #fff);
    transition: 0.25s ease;
    &:hover {
      background-color: #fff;
      color: $mainColor;
    }
  }
}

@media screen and (max-width: $tablet) {
  section {
    .contMainTxt {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: $mainMobile) {
  /* main contents commons */
  section {
    h1 {
      font-size: 35px;
    }
    .contMainTitle {
      font-size: 30px;
      &::after {
        top: -20px;
        width: 40px;
        min-width: 40px;
        height: 5px;
        margin-left: -20px;
      }
    }
    .mainViewBtn {
      font-size: 16px;
      margin-bottom: 70px;
    }
  }
}

/* news */
#news {
  width: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  .titleWrap {
    position: relative;
    z-index: 10;
    padding-left: 100px;
    margin-right: 30vw;
  }
  h1 {
    margin-bottom: 0px;
  }
  .contMainTitle {
    margin-top: 150px;
    margin-left: 100px;
    text-align: left;
    margin-bottom: 20px;
  }
  .contMainTxt {
    margin-left: 0;
  }
  .inner {
    position: relative;
    margin-top: -160px;
    padding-left: 100px;
    &.ani-content {
      transition: none;
    }
  }
  .newsSvg {
    position: absolute;
    right: 29px;
    top: -332px;
    opacity: 0.3;
    svg {
      width: 600px;
      height: 600px;
      .cls-1 {
        fill: #4285f4;
      }
      .cls-2 {
        fill: #aecbfa;
      }
      .cls-3 {
        fill: #669df6;
      }
    }
  }
  .newsImg {
    overflow: hidden;
    width: 100%;
    height: 240px;
    img {
      transition: 1s $easing;
      height: 120%;
    }
  }
  .newsWrap {
    position: relative;
    height: 100%;
    background-color: #fff;
    > div {
      transition: transform 0.5s $easing;
      &:hover {
        transform: translateY(-20px);
        img {
          transform: scale(1.3);
        }
      }
    }
  }
  .newsTxtWrap {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    .num {
      position: absolute;
      top: 20px;
      right: 20px;
      @include title2($ta: left, $fz: 20px, $color: #fff);
      background-color: $mainColor;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
  .newsArea,
  .prArea {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: #c00000;
    @include title2($ta: left, $fz: 15px, $color: #fff, $fw: 700);
  }
  .prArea {
    background-color: $mainColor;
  }
  .newsTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    @include title2($ta: left, $fz: 22px, $color: #222, $ff: $fontStyle);
    @include ellipsis(2, 1.5);
  }
  .newsTxt {
    margin-top: 20px;
    word-break: break-all;
    white-space: normal;
    width: 100%;
    @include ellipsis(3, 1.5);
  }
  .newsBtnWrap {
    position: relative;
    margin-top: 25px;
    border-top: 2px solid #222;
    .fas {
      position: absolute;
      right: 0;
      top: 25px;
      font-size: 20px;
      color: #222;
    }
  }
  .newsBtn {
    margin-top: 25px;
    display: inline-block;
    @include title2($ta: left, $fz: 16px, $color: #222);
    transition: 0.25s $easing;
    .fas {
      transition: 0.25s $easing;
    }
    &:hover {
      color: $mainColor;
      .fas {
        color: $mainColor;
      }
    }
  }
  .swiper {
    padding-top: 150px;
    height: 720px;
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      left: auto;
      top: 25px;
      right: 100px;
      width: 60px;
      height: 60px;
      color: #fff;
      font-size: 10px;
      background-color: #222;
      border-radius: 50%;
      transition: 0.25s $easing;
      &::after {
        transform: scale(0.5);
      }
      &:hover {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 180px;
    }
  }
}

@media screen and (max-width: 1300px) {
  #news {
    .newsSvg {
      top: -164px;
      svg {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  /* news */
  #news {
    padding: 120px 0;
    .titleWrap {
      padding-left: 60px;
    }
    .contMainTitle {
      margin-top: 120px;
      margin-left: 60px;
    }
    .inner {
      padding-left: 60px;
    }
    .newsImg {
      img {
        height: 30vmax;
      }
    }
    .swiper {
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 60px;
        width: 50px;
        height: 50px;
      }

      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        right: 130px;
      }
    }
    .newsSvg {
      top: -100px;
      svg {
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: $mainMobile) {
  /* news */
  #news {
    padding: 100px 0;
    .titleWrap {
      margin-right: 0;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }
    .contMainTitle {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      width: 100%;
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -20px;
      }
    }
    .contMainTxt {
      margin-right: 0;
    }
    .inner {
      margin-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .mainViewBtn {
      margin-bottom: 0;
    }
    .newsSvg {
      display: none;
    }
    .newsImg {
      img {
        width: 150%;
        height: auto;
      }
    }
    .swiper {
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: auto;
        top: 70px;
        left: 50%;
        width: 45px;
        height: 45px;
        margin-left: 10px;
      }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        right: auto;
        margin-left: -55px;
      }
    }
  }
}

//history transition
$historyTxtDelay: 0s;

@mixin historyTransition(
  $delay: $historyTxtDelay,
  $easing: $easing,
  $duration: 0.7s,
  $x: -30px
) {
  opacity: 0;
  transform: translateX($x);
  transition: all $duration $easing;
  transition-delay: $delay;
}

@mixin historyTransitionActive($translate: translateX(0)) {
  opacity: 1;
  transform: $translate;
}

/* history */
#history {
  width: 100%;
  max-width: 1920px;
  margin: 0 0 200px;
  box-sizing: border-box;
  .titleWrap {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 100px;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
  }
  .content,
  .txt {
    position: absolute;
    left: 50%;
    bottom: -20px;
  }
  .txt {
    opacity: 0;
  }
  .content {
    width: 500px;
    height: 600px;
    margin-left: -30vw;
    z-index: 5;
    padding: 40px 50px;
    background-color: rgba(0, 64, 184, 0.9);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    h2 {
      position: relative;
      @include numFont($fz: 82px, $c: #fff);
      margin-top: 20px;
      margin-bottom: 90px;
      span {
        opacity: 0.8;
        margin-left: 10px;
        @include numFont($fz: 22px, $c: #fff);
        letter-spacing: 8px;
      }
      &::after {
        @include cont_poa();
        bottom: -50px;
        left: 0;
        width: 50px;
        height: 5px;
        background-color: #fff;
      }
      @include historyTransition($delay: 0.1s);
    }
    h3 {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      @include title2($ta: left, $fz: 30px, $color: #fff);
      margin-bottom: 40px;
      &::before {
        content: "[";
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: 0px;
        opacity: 0.7;
        font-size: 40px;
        color: #fff;
      }
      &::after {
        content: "]";
        position: absolute;
        top: 50%;
        margin-top: -30px;
        right: -30px;
        opacity: 0.7;
        font-size: 40px;
        color: #fff;
      }
      span {
        opacity: 0.7;
        margin-left: 10px;
        margin-right: 10px;
      }
      @include historyTransition($delay: 0.2s);
    }
    p {
      opacity: 0.7;
      @include ellipsis(5, 1.5);
      @include historyTransition($delay: 0.3s);
    }
    a {
      display: inline-block;
      margin-top: 60px;
      padding: 8px 35px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
      transition: 0.25s $easing;
      @include title2($ta: left, $fz: 16px, $color: #fff);
      @include historyTransition($delay: 0.4s);
      &:hover {
        transition: 0.25s $easing;
        background-color: #fff;
        color: $mainColor;
      }
    }
    &.active {
      h2 {
        @include historyTransitionActive();
      }
      h3 {
        @include historyTransitionActive();
      }
      p {
        @include historyTransitionActive();
      }
      a {
        @include historyTransitionActive();
      }
    }
  }
  h1 {
    margin-bottom: 100px;
  }
  .swiper {
    padding-bottom: 9vh;
    .swiper-slide {
      height: 400px;
      overflow: hidden;
    }
    .swiper-slide-active {
      img {
        width: 100%;
        filter: grayscale(0);
      }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      width: 60px;
      height: 60px;
      color: $mainColor;
      font-size: 10px;
      background-color: #eaebed;
      border-radius: 50%;
      transition: 0.25s $easing;
      &::after {
        transform: scale(0.6);
        color: #222;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 50%;
      margin-right: -24.2vw;
      top: auto;
      bottom: 0;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 50%;
      margin-right: calc(-24.2vw + 80px);
      top: auto;
      left: auto;
      bottom: 0;
    }
  }
  .pic {
    height: 100%;
    img {
      width: 100%;
      filter: grayscale(1);
    }
  }
}

@media screen and (max-width: $tablet) {
  /* history */
  #history {
    padding-bottom: 20vh;
    margin-bottom: 100px;
    .titleWrap {
      margin-bottom: 0;
      .contMainTitle {
        &::after {
          margin-left: -25px;
        }
      }
    }
    .content {
      width: 100%;
      height: 400px;
      padding: 30px 40px;
      max-width: 600px;
      top: auto;
      bottom: 0;
      left: 50%;
      margin-left: -300px;
      h2 {
        font-size: 60px;
        margin-bottom: 60px;
        &::after {
          bottom: -30px;
          width: 40px;
        }
      }
      h3 {
        font-size: 25px;
        margin-bottom: 20px;
        &::before {
          margin-top: -25px;
          font-size: 30px;
        }
        &::after {
          margin-top: -25px;
          font-size: 30px;
        }
      }
      p {
        height: 50px;
        overflow: hidden;
      }
      a {
        margin-top: 30px;
      }
    }
    .swiper {
      padding-top: 100px;
      padding-bottom: 0;
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        top: 23px;
        bottom: auto;
        width: 50px;
        height: 50px;
        &::after {
          transform: scale(0.5);
        }
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        margin-right: -60px;
      }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: $mainMobile) {
  /* history */
  #history {
    padding-bottom: 15vh;
    .content {
      width: auto;
      max-width: max-content;
      height: 360px;
      padding: 20px 30px;
      margin: 0 30px;
      left: 0;
      h2 {
        font-size: 40px;
        &::after {
          bottom: -30px;
          width: 40px;
        }
        span {
          font-size: 18px;
        }
      }
      h3 {
        font-size: 20px;
      }
      p {
        @include ellipsis(2, 1.5);
      }
    }
    .swiper {
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        width: 45px;
        height: 45px;
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        margin-right: -55px;
      }
    }
  }
}

/* PR */
#pr {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px 100px;
  box-sizing: border-box;
  h1 {
    margin-bottom: 100px;
  }
  .titleWrap {
    text-align: center;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
  }
  .swiper {
    position: relative;
    top: -40px;
    height: 540px;
    padding-top: 40px;
    padding-bottom: 100px;
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      width: 60px;
      height: 60px;
      color: $mainColor;
      font-size: 10px;
      background-color: #eaebed;
      border-radius: 50%;
      transition: 0.25s $easing;
      &::after {
        transform: scale(0.6);
        color: #222;
      }
      &:hover {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 50%;
      margin-right: -70px;
      top: auto;
      bottom: 0px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 50%;
      margin-right: 10px;
      top: auto;
      left: auto;
      bottom: 0px;
    }
  }
  .prWrap {
    position: relative;
    width: 100%;
    height: 100%;
    > div {
      width: 100%;
      height: 100%;
      transition: 0.25s $easing;
      &:hover {
        transform: translateY(-20px);
        .pic {
          img {
            transform: scale(1.3);
          }
        }
        i {
          animation: bounce 1s infinite linear;
        }
      }
    }
  }
  .num {
    position: absolute;
    top: 30px;
    right: 30px;
    @include title2($ta: left, $fz: 20px, $color: #fff);
    background-color: $mainColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 50px 40px 30px;
    width: 100%;
    color: #fff;
    background: rgb(0, 86, 241);
    background: linear-gradient(
      0deg,
      rgba(0, 86, 241, 0.7) 30%,
      rgba(0, 86, 241, 0) 100%
    );
    h2 {
      position: relative;
      @include title2($ta: left, $fz: 30px, $color: #fff);
      margin-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    p {
      height: 50px;
      margin-bottom: 15px;
      font-size: 16px;
      @include ellipsis(2, 1.5);
    }
    a {
      @include title2($ta: left, $fz: 18px, $color: #fff);
      i {
        margin-left: 20px;
      }
    }
  }
  .pic {
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
      transition: 0.5s ease;
    }
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@media screen and (max-width: $tablet) {
  /* PR */
  #pr {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    h1 {
      margin-right: 0;
      margin-left: 0;
    }
    .titleWrap {
      .contMainTitle::after {
        margin-left: -20px;
      }
    }
    .contMainTitle,
    .contMainTxt {
      margin-right: 0;
      margin-left: 0;
    }
    .swiper {
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        width: 50px;
        height: 50px;
        &::after {
          transform: scale(0.5);
        }
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        margin-right: -60px;
      }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        margin-right: 10px;
      }
    }
    .content {
      h2 {
        font-size: 23px;
      }
      a {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #pr {
    .pic img {
      width: 150%;
      height: auto;
    }
  }
}
@media screen and (max-width: $mainMobile) {
  /* PR */
  #pr {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    .swiper {
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next,
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        width: 45px;
        height: 45px;
      }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        margin-right: -55px;
      }
    }
    .content {
      h2 {
        font-size: 23px;
      }
      a {
        font-size: 17px;
      }
    }
    .pic {
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

/* service */
#service {
  width: 100%;
  min-height: 600px;
  max-width: 1920px;
  padding: 100px 0;
  box-sizing: border-box;
  text-align: center;
  .inner {
    padding: 70px 0 60px;
    background-color: #f8f9fd;
    ul {
      max-width: 1920px;
      margin: 0 70px;
      &::after {
        @include cb();
      }
      li {
        float: left;
        width: calc(100% / 4);
        padding: 30px;
        h3 {
          margin: 30px 0 10px;
          @include title2($fz: 25px, $color: #444, $ff: $fontStyle);
          line-height: 1.5;
        }
      }
    }
  }
  h1 {
    margin-bottom: 100px;
  }
  .titleWrap {
    text-align: center;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
    .contMainTxt {
      margin-bottom: 100px;
    }
  }
  .svg {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 6px 8px 2px 1px rgba(0, 86, 241, 0.2);
    svg {
      @include center();
      width: 70px;
      height: 70px;
      fill: $mainColor;
    }
  }
}

@media screen and (max-width: $tablet) {
  /* service */
  #service {
    .inner {
      ul {
        margin: 0 30px;
        li {
          width: calc(100% / 2);
          height: 400px;
          h3 {
            font-size: 23px;
          }
        }
      }
    }
    .titleWrap {
      .contMainTitle {
        margin-left: 60px;
        margin-right: 60px;
        &::after {
          margin-left: -20px;
        }
      }
      .contMainTxt {
        margin-left: 60px;
        margin-right: 60px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  /* service */
  #service {
    .inner {
      padding: 50px 0;
      ul {
        margin: 0 30px;
        li {
          padding-left: 0;
          padding-right: 0;
          float: none;
          width: auto;
          height: auto;
          margin-bottom: 20px;
          h3 {
            font-size: 20px;
          }
        }
      }
    }
    .titleWrap {
      .contMainTitle {
        margin-left: 30px;
        margin-right: 30px;
        &::after {
          margin-left: -20px;
        }
      }
      .contMainTxt {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
    .svg {
      width: 130px;
      height: 130px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}

/*contact commons*/
$svgColor: #4b8cff;
$svgColor2: $mainColor;

/* contact */
#contact {
  width: 100%;
  min-height: 600px;
  max-width: 1340px;
  margin: 0 auto 100px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  h1 {
    padding-top: 30px;
    margin-bottom: 60px;
  }
  h2 {
    margin: 30px 0 30px;
    @include title2($ta: left, $fz: 30px, $color: #444);
    line-height: 1.5;
  }
  .inner {
    position: relative;
    display: table;
    margin: 30px 40px;
    padding: 40px;
    border-radius: 30px;
    background-color: #f8f9fd;
    &::after {
      @include cb();
    }
    .txt {
      display: table-cell;
      vertical-align: middle;
      padding-left: 70px;
    }
  }
  .view {
    margin-top: 35px;
    display: inline-block;
    @include title2($ta: left, $fz: 20px, $color: $mainColor);
    i {
      margin-left: 10px;
    }
    &:hover {
      color: $mainColor;
      .fas {
        color: $mainColor;
        animation: bounce 1s infinite linear;
      }
    }
  }
  .svg {
    position: relative;
    display: table-cell;
    width: 300px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 12px 12px 2px 1px rgba(0, 86, 241, 0.2);
    vertical-align: middle;
    svg {
      max-width: 300px;
    }
    .st0 {
      fill: #eeedf2;
    }
    .st1 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st2 {
      fill: #efc12f;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st3 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st4 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st5 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st6 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st7 {
      fill: $svgColor;
    }
    .st8 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st9 {
      fill: #eab8b1;
    }
    .st10 {
      fill: #dc9695;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st11 {
      fill: #eeced1;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st12 {
      fill: #cb7272;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st13 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st14 {
      fill: #d3d5e7;
    }
    .st15 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st16 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st17 {
      fill: #ececee;
    }
    .st18 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st19 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st20 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st21 {
      opacity: 0.4;
      fill: #ffffff;
    }
    .st22 {
      opacity: 0.7;
      fill: #ffffff;
    }
    .st23 {
      fill: #69adf7;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st24 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 7;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st25 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st26 {
      fill: #dbe7fe;
    }
    .st27 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st28 {
      fill: #dd9796;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st29 {
      fill: #eeced1;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st30 {
      fill: #cb7272;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st31 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st32 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st33 {
      fill: #dae6fd;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st34 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st35 {
      opacity: 0.69;
      fill: #ffffff;
    }
    .st36 {
      opacity: 0.95;
      fill: #ffffff;
    }
    .st37 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st38 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st39 {
      fill: $svgColor;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st40 {
      fill: #ffffff;
    }
    .st41 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st42 {
      fill: #f1f6ff;
    }
    .st43 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st44 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st45 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st46 {
      fill: #e09287;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st47 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st48 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st49 {
      fill: #d2d4e6;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st50 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st51 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st52 {
      fill: #eeedf2;
      stroke: #ffffff;
      stroke-miterlimit: 10;
    }
    .st53 {
      opacity: 0.3;
      fill: #a2655f;
    }
    .st54 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st55 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st56 {
      fill: #d2d4e6;
    }
    .st57 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 5.7826;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st58 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5.7826;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st59 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.8913;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st60 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.4094;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st61 {
      fill: #ebebed;
    }
    .st62 {
      fill: #fbf2ed;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st63 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st64 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st65 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st66 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st67 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st68 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st69 {
      opacity: 0.3;
      fill: #ffffff;
    }
    .st70 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st71 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st72 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st73 {
      fill: #f5f5f7;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st74 {
      fill: #d5d6de;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st75 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st76 {
      fill: #79caa1;
    }
    .st77 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.7;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st78 {
      fill: #69aef8;
    }
  }
}

@media screen and (max-width: 900px) {
  /* contact */
  #contact {
    .inner {
      &::after {
        @include cb();
      }
      .txt {
        display: block;
        padding-top: 40px;
        padding-left: 0;
      }
    }
    .svg {
      display: block;
      text-align: center;
      width: auto;
      svg {
      }
    }
  }
}

@media screen and (max-width: $mainMobile) {
  /* contact */
  #contact {
    margin-bottom: 0;
    h2 {
      font-size: 25px;
    }
    .inner {
      margin: 0;
      border-radius: 0;
      &::after {
        @include cb();
      }
      .txt {
        display: block;
        padding-top: 20px;
        padding-left: 0;
      }
    }
    .view {
      font-size: 18px;
    }
    .svg {
      display: block;
      text-align: center;
      width: auto;
      padding: 30px 0;
      box-sizing: border-box;
      svg {
        width: 200px;
      }
    }
  }
}

/* top */
.top {
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: $mainColor;
  border: 1px solid $mainColor;
  background-color: #fff;
  transition: 0.25s $easing;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.25s $easing;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background-color: $mainColor;
  }
  &.on {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/* footer */
#footer {
  width: 100%;
  padding: 100px 30px;
  background: #222;
  a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-family: $fontStyle;
    color: #777;
    letter-spacing: 0;
    &::after {
      @include cont_poa();
      bottom: 1px;
      width: 0;
      height: 1px;
      background-color: #777;
      transition: 0.2s $easing;
    }
    &:hover,
    &:active,
    &:focus {
      &::after {
        width: 100%;
      }
    }
  }
  .inner {
    max-width: 1200px;
    margin: 0 auto;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    h1 {
      font-family: $titleStyle;
      font-size: 24px;
      color: #777;
      float: left;
      letter-spacing: 0;
    }
    ul {
      float: right;
      li {
        float: left;
        margin-left: 20px;
        a {
          font-weight: 600;
          &::after {
            bottom: 0;
          }
        }
      }
    }
    address {
      width: 100%;
      float: left;
      font-size: 14px;
      font-style: normal;
      color: #777;
      margin-bottom: 20px;
      border-top: 1px solid #333;
      padding-top: 20px;
      margin-top: 20px;
      font-family: $fontStyle;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.8;
    }
    p {
      font-family: $fontStyle;
      font-weight: 500;
      font-size: 12px;
      color: #666;
      width: 100%;
      float: left;
      letter-spacing: 0;
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  /* footer */
  #footer {
    padding: 80px 30px;
    .inner {
      width: 100%;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  /* top */
  .top {
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    line-height: 50px;
    font-size: 20px;
  }

  /* footer */
  #footer {
    padding: 50px 30px;
    .inner {
      h1 {
        float: none;
      }
      ul {
        margin-top: 10px;
        float: none;
        li {
          margin-left: 0px;
          margin: 5px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
//common transition
$commonDelay: 0;

@mixin commonTransition($easing: $easing, $duration: 0.5s, $transform: 2vh) {
  opacity: 0;
  transform: translateY($transform);
  transition: transform $duration $easing, opacity $duration $easing,
    background-color $duration $easing, color $duration $easing;
}

@for $i from 1 through 13 {
  .ani-content:nth-child(#{$i}) {
    @include commonTransition();
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@for $i from 1 through 13 {
  .ani-content {
    .box#{$i} {
      @include commonTransition($transform: 60px);
      transition-delay: ($i * 0.25s);
    }
    &.active {
      .box#{$i} {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@for $i from 1 through 13 {
  .ani-content {
    .list#{$i} {
      @include commonTransition($transform: 60px);
      transition-delay: ($i * 0.25) + 1.2s;
    }
    &.active {
      .list#{$i} {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@for $i from 1 through 13 {
  .menuMo {
    .ani-menu {
      &:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(-50px);
        transition: 0.7s $easing;
        transition-delay: ($i * 0.2s);
      }
    }
    &.on {
      .ani-menu {
        &:nth-child(#{$i}) {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

@for $i from 1 through 13 {
  .menuMo {
    .ani-menu {
      > li:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(-50px);
        transition: 0.7s $easing;
        @if ($i == 1) {
          transition-delay: 0;
        } @else {
          transition-delay: ($i * 0.2) + 0.2s;
        }
      }
    }
    &.on {
      .ani-menu {
        > li:nth-child(#{$i}) {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
