@charset "UTF-8";

@import "reset";
@import "commons";

/*swiper commons*/
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
}

.auto {
  position: absolute;
  top: 150px;
  right: 100px;
  z-index: 10;
  li {
    float: left;
    margin-left: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    font-size: 20px;
  }
}

/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 9;
  .inner {
    height: 100px;
    margin: 0 auto;
    position: relative;
    > h1 {
      position: absolute;
      left: 100px;
      top: 38px;
      > a {
        @include title2($ta: left, $fz: 24px, $color: #fff);
      }
    }

    li {
      float: left;
      a {
        @include title2($ta: left, $fz: 16px, $color: #fff);
        display: block;
        margin-left: 65px;
        padding: 20px 0;
      }
    }
    #gnb {
      position: absolute;
      left: 275px;
      top: 43px;
      a {
        position: relative;
        padding: 0;
        &::after {
          @include cont_poa();
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #fff;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .util {
      position: absolute;
      right: 100px;
      top: 29px;
      li:first-child {
        a {
          padding: 14px 16px;
          border: none;
        }
      }
      a {
        margin-left: 20px;
        padding: 13px 15px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        line-height: 16px;
        border-radius: 5px;
        transition: 0.25s ease;
        &:hover {
          background: $mainColor;
          border-color: $mainColor;
        }
      }
    }
    .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s;
      }
      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }
      &.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px;
      }
      &.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px;
      }
      &.on span {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    .menuMo {
      width: 100%;
      height: 100vh;
      background: #000;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      padding: 70px 70px;
      transform: translateX(-100%);
      transition: 0.5s;
      &.on {
        transform: translateX(0);
      }
      h1 {
        padding-bottom: 30px;
      }
      ul li a {
        display: inline-block;
        font-size: 60px;
        line-height: 1em;
      }
    }
  }
}

/* visual */
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .visualWrap {
    position: absolute;
    top: 26%;
    left: 100px;
    z-index: 1;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
  }
  .swiper-slide {
    img {
      filter: brightness(0.7);
    }
  }
  .box1 {
    img {
      filter: brightness(1);
    }
  }
  .visualTitle {
    @include title2($ta: left, $fz: 90px, $color: #fff);
    em {
      line-height: 1;
    }
    span {
      margin-left: 10px;
      @include title2($ta: left, $fz: 80px, $color: #fff);
    }
  }
  .visualSubTitle {
    position: relative;
    margin-top: 40px;
    line-height: 1;
    padding: 0 60px;
    display: inline-block;
    @include title2($ta: left, $fz: 60px, $color: #fff);
    span {
      color: $mainColor2;
    }
    &::after {
      content: "[";
      display: block;
      position: absolute;
      top: -25px;
      left: 0;
      @include title2($ta: left, $fz: 100px, $color: $mainColor2, $fw: 600);
    }
    &::before {
      content: "]";
      display: block;
      position: absolute;
      top: -25px;
      right: 0;
      @include title2($ta: left, $fz: 100px, $color: $mainColor2, $fw: 600);
    }
  }
  .visualTxt {
    max-width: 700px;
    margin-top: 60px;
    @include title2(
      $ta: left,
      $fz: 18px,
      $color: #fff,
      $fw: 400,
      $ff: $fontStyle
    );
    line-height: 1.8;
  }
  .visualBtn {
    margin-top: 60px;
    display: inline-block;
    padding: 15px 50px;
    background-color: $mainColor;
    @include title2($fz: 20px, $color: #fff);
    &:hover {
      background-color: #fff;
      color: $mainColor;
    }
  }
  /*swiper pagination*/
  .swiper-pagination {
    display: inline-block;
    top: 150px;
    height: 20px;
    text-align: right;
    padding-right: 190px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    left: auto;
    top: 350px;
    right: 100px;
    width: 60px;
    height: 60px;
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    &::after {
      transform: scale(0.5);
    }
    &:hover {
      opacity: 1;
      border: 1px solid $mainColor;
      background-color: $mainColor;
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 180px;
  }

  .swiper-pagination-bullet {
    position: relative;
    margin-right: 30px;
    @include numFont($fz: 18px, $c: rgba(255, 255, 255, 0.5));
    font-weight: 600;
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    // transition: margin 0.5s ease;
    &::after {
      @include cont_poa();
      bottom: 2px;
      left: 35px;
      width: 0;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      // transition: width 0.5s ease;
    }
    &:last-child {
      margin-right: 0;
      &.swiper-pagination-bullet-active {
        margin-right: 80px;
      }
    }
  }
  .swiper-pagination-bullet-active {
    font-weight: 800;
    margin-left: 0;
    margin-right: 80px;
    color: #fff;
    &::after {
      width: 60px;
      display: block;
    }
  }
  .pageNavi {
    position: absolute;
    top: 203px;
    right: 110px;
    @include numFont($fz: 40px, $c: rgba(255, 255, 255, 0.7));
    font-family: $fontStyle;
    z-index: 1;
    .current {
      padding-right: 20px;
      @include numFont($fz: 90px, $c: #fff);
    }
    .total {
      padding-left: 20px;
      @include numFont($fz: 40px, $c: rgba(255, 255, 255, 0.7));
    }
  }

  /* scroll down */
  .scorll {
    position: absolute;
    right: 100px;
    bottom: 50px;
    z-index: 1;
    text-align: center;
    font-weight: 600;
    color: $mainColor2;
    opacity: 0.8;
    svg {
      width: 60px;
      fill: $mainColor2;
      opacity: 0.8;
    }
    i {
      margin-top: 10px;
      margin-bottom: 20px;
      display: block;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1490px) {
  /* visual */
  #visual {
    .visualWrap {
      top: 27vh;
    }
    .visualTitle {
      font-size: 70px;
      span {
        font-size: 50px;
      }
    }
    .visualSubTitle {
      font-size: 40px;
      &::after {
        top: -18px;
        font-size: 70px;
      }
      &::before {
        top: -18px;
        font-size: 70px;
      }
    }
    .visualBtn {
      padding: 10px 35px;
      font-size: 18px;
    }

    /*swiper pagination*/
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      top: 35vh;
      width: 50px;
      height: 50px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 170px;
    }
    .pageNavi {
      font-size: 30px;
      .current {
        font-size: 60px;
      }
      .total {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  /* visual */
  #visual {
    .visualWrap {
      left: 60px;
    }
    .visualTitle {
      em {
      }
      span {
      }
    }
    .visualSubTitle {
      &::after {
      }
      &::before {
      }
    }
    .visualTxt {
    }
    .visualBtn {
    }

    /*swiper pagination*/
    .swiper-pagination {
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      top: auto;
      bottom: 10vh;
      &::after {
      }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
    }

    .swiper-pagination-bullet {
      &::after {
      }
      &:last-child {
        &.swiper-pagination-bullet-active {
        }
      }
    }
    .swiper-pagination-bullet-active {
      &::after {
      }
    }
    .pageNavi {
      .current {
      }
      .total {
      }
    }
    .scorll {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  /* visual */
  #visual {
    .visualWrap {
      left: 30px;
      top: 27vh;
    }
    .visualTitle {
      text-align: center;
      font-size: 40px;
      em {
      }
      span {
      }
    }
    .visualSubTitle {
      padding: 0;
      display: block;
      text-align: center;
      font-size: 25px;
      span {
        display: block;
        margin: 10px 0;
      }
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    .visualTxt {
      text-align: center;
      font-size: 16px;
    }
    .visualBtn {
    }

    /*swiper pagination*/
    .swiper-pagination {
      display: none;
      padding-right: 40px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      top: 35vh;
      &::after {
      }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
    }

    .swiper-pagination-bullet {
      &::after {
      }
      &:last-child {
        &.swiper-pagination-bullet-active {
        }
      }
    }
    .swiper-pagination-bullet-active {
      &::after {
      }
    }
    .pageNavi {
      .current {
      }
      .total {
      }
    }
  }
}

/* main contents commons */
section {
  position: relative;
  color: #5d5d5d;
  line-height: 1.5;
  h1 {
    @include title2($color: #000, $fz: 40px);
    line-height: 1.3em;
    margin-bottom: 100px;
  }
  .contMainTitle {
    position: relative;
    display: inline-block;
    @include title2($color: #333, $fz: 5vmin);
    margin: 0 30px 40px;
    &::after {
      @include cont_poa();
      top: -40px;
      left: 0;
      width: 5vw;
      max-width: 100px;
      min-width: 50px;
      height: 10px;
      background-color: $mainColor;
    }
  }
  .contMainTxt {
    font-size: 18px;
    color: #5d5d5d;
    line-height: 1.5;
    margin: 0 30px 40px;
  }
  .mainViewBtn {
    position: relative;
    display: inline-block;
    padding: 8px 35px;
    margin-bottom: 100px;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    @include title2($fz: 17px, $color: #fff);
    &:hover {
      background-color: #fff;
      color: $mainColor;
    }
  }
}

/* news */
#news {
  width: 100%;
  padding: 150px 0;
  box-sizing: border-box;
  .titleWrap {
    position: relative;
    z-index: 10;
    padding-left: 100px;
    margin-right: 30vw;
  }
  h1 {
    margin-left: calc(30vw - 100px);
    margin-bottom: 0px;
  }
  .contMainTitle {
    margin-top: 150px;
    margin-left: 0;
    text-align: left;
    margin-bottom: 20px;
  }
  .contMainTxt {
    margin-left: 0;
  }
  .inner {
    position: relative;
    margin-top: -160px;
    padding-left: 100px;
  }
  .newsSvg {
    position: absolute;
    right: 29px;
    top: -332px;
    opacity: 0.3;
    svg {
      width: 600px;
      height: 600px;
      .cls-1 {
        fill: #4285f4;
      }
      .cls-2 {
        fill: #aecbfa;
      }
      .cls-3 {
        fill: #669df6;
      }
    }
  }
  .newsImg {
    overflow: hidden;
    width: 100%;
    height: 240px;
    img {
      height: 120%;
    }
  }
  .newsWrap {
    position: relative;
    height: 100%;
    background-color: #fff;
  }
  .newsTxtWrap {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    .num {
      position: absolute;
      top: 20px;
      right: 20px;
      @include title2($ta: left, $fz: 20px, $color: #fff);
      background-color: $mainColor;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
  .newsArea,
  .prArea {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: #c00000;
    @include title2($ta: left, $fz: 15px, $color: #fff, $fw: 700);
  }
  .prArea {
    background-color: $mainColor;
  }
  .newsTitle {
    padding-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    overflow: hidden;
    @include title2($ta: left, $fz: 22px, $color: #222, $ff: $fontStyle);
    line-height: 1.3;
  }
  .newsTxt {
    margin-top: 20px;
    height: 70px;
    word-break: break-all;
    overflow: hidden;
  }
  .newsBtnWrap {
    position: relative;
    margin-top: 25px;
    border-top: 2px solid #222;
    .fas {
      position: absolute;
      right: 0;
      top: 25px;
      font-size: 20px;
      color: #222;
    }
  }
  .newsBtn {
    margin-top: 25px;
    display: inline-block;
    @include title2($ta: left, $fz: 16px, $color: #222);
    &:hover {
      color: $mainColor;
      .fas {
        color: $mainColor;
      }
    }
  }
  .swiper {
    padding-top: 150px;
    height: 720px;
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      left: auto;
      top: 25px;
      right: 100px;
      width: 60px;
      height: 60px;
      color: #fff;
      font-size: 10px;
      background-color: #222;
      border-radius: 50%;
      &::after {
        transform: scale(0.5);
      }
      &:hover {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 180px;
    }
  }
}

/* history */
#history {
  width: 100%;
  max-width: 1920px;
  margin: 0 0 200px;
  box-sizing: border-box;
  .titleWrap {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 100px;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
  }
  .content,
  .txt {
    position: absolute;
    left: 50%;
    bottom: -20px;
  }
  .txt {
    opacity: 0;
  }
  .content {
    width: 500px;
    height: 600px;
    margin-left: -30vw;
    z-index: 5;
    padding: 40px 50px;
    background-color: rgba(0, 64, 184, 0.9);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    h2 {
      position: relative;
      @include numFont($fz: 82px, $c: #fff);
      margin-top: 20px;
      margin-bottom: 90px;
      span {
        opacity: 0.8;
        margin-left: 10px;
        @include numFont($fz: 22px, $c: #fff);
        letter-spacing: 8px;
      }
      &::after {
        @include cont_poa();
        bottom: -50px;
        left: 0;
        width: 50px;
        height: 5px;
        background-color: #fff;
      }
    }
    h3 {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      @include title2($ta: left, $fz: 30px, $color: #fff);
      margin-bottom: 40px;
      &::before {
        content: "[";
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: 0px;
        opacity: 0.7;
        font-size: 40px;
        color: #fff;
      }
      &::after {
        content: "]";
        position: absolute;
        top: 50%;
        margin-top: -30px;
        right: -30px;
        opacity: 0.7;
        font-size: 40px;
        color: #fff;
      }
      span {
        opacity: 0.7;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    p {
      opacity: 0.7;
      height: 120px;
      overflow: hidden;
    }
    a {
      display: inline-block;
      margin-top: 60px;
      padding: 8px 35px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
      @include title2($ta: left, $fz: 16px, $color: #fff);
      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
  }
  h1 {
    margin-bottom: 100px;
  }
  .swiper {
    padding-bottom: 9vh;
    .swiper-slide {
      height: 400px;
      overflow: hidden;
    }
    .swiper-slide-active {
      img {
        width: 100%;
        filter: grayscale(0);
      }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      width: 60px;
      height: 60px;
      color: $mainColor;
      font-size: 10px;
      background-color: #eaebed;
      border-radius: 50%;
      &::after {
        transform: scale(0.6);
        color: #222;
      }
      &:hover {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 50%;
      margin-right: -24.2vw;
      top: auto;
      bottom: 0;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 50%;
      margin-right: calc(-24.2vw + 80px);
      top: auto;
      left: auto;
      bottom: 0;
    }
  }
  .pic {
    height: 100%;
    img {
      width: 100%;
      filter: grayscale(1);
    }
  }
}

/* PR */
#pr {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px 100px;
  box-sizing: border-box;
  h1 {
    margin-bottom: 100px;
  }
  .titleWrap {
    text-align: center;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
  }
  .swiper {
    position: relative;
    height: 500px;
    padding-bottom: 100px;
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      width: 60px;
      height: 60px;
      color: $mainColor;
      font-size: 10px;
      background-color: #eaebed;
      border-radius: 50%;
      &::after {
        transform: scale(0.6);
        color: #222;
      }
      &:hover {
        opacity: 1;
        background-color: $mainColor;
        &::after {
          color: #fff;
        }
      }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 50%;
      margin-right: -70px;
      top: auto;
      bottom: 0px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: 50%;
      margin-right: 10px;
      top: auto;
      left: auto;
      bottom: 0px;
    }
  }
  .prWrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .num {
    position: absolute;
    top: 30px;
    right: 30px;
    @include title2($ta: left, $fz: 20px, $color: #fff);
    background-color: $mainColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 50px 40px 30px;
    width: 100%;
    color: #fff;
    background: rgb(0, 86, 241);
    background: linear-gradient(
      0deg,
      rgba(0, 86, 241, 0.7) 30%,
      rgba(0, 86, 241, 0) 100%
    );
    h2 {
      @include title2($ta: left, $fz: 30px, $color: #fff);
      margin-bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    p {
      height: 50px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.5;
      overflow: hidden;
    }
    a {
      @include title2($ta: left, $fz: 18px, $color: #fff);
      i {
        margin-left: 20px;
      }
    }
  }
  .pic {
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
}

/* service */
#service {
  width: 100%;
  min-height: 600px;
  max-width: 1920px;
  padding: 100px 0;
  box-sizing: border-box;
  text-align: center;
  .inner {
    padding: 70px 0 60px;
    background-color: #f8f9fd;
    ul {
      max-width: 1920px;
      margin: 0 70px;
      &::after {
        @include cb();
      }
      li {
        float: left;
        width: calc(100% / 4);
        padding: 30px;
        h3 {
          margin: 30px 0 10px;
          @include title2($fz: 25px, $color: #444, $ff: $fontStyle);
          line-height: 1.5;
        }
      }
    }
  }
  h1 {
    margin-bottom: 100px;
  }
  .titleWrap {
    text-align: center;
    .contMainTitle {
      &::after {
        top: -50px;
        left: 50%;
        margin-left: -2.5vw;
      }
    }
    .contMainTxt {
      margin-bottom: 100px;
    }
  }
  .svg {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 6px 8px 2px 1px rgba(0, 86, 241, 0.2);
    svg {
      @include center();
      width: 70px;
      height: 70px;
      fill: $mainColor;
    }
  }
}

/*commons*/
$svgColor: #4b8cff;
$svgColor2: $mainColor;

/* contact */
#contact {
  width: 100%;
  min-height: 600px;
  max-width: 1340px;
  margin: 0 auto 100px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  h1 {
    padding-top: 30px;
    margin-bottom: 60px;
  }
  h2 {
    margin: 30px 0 30px;
    @include title2($ta: left, $fz: 30px, $color: #444);
    line-height: 1.5;
  }
  .inner {
    position: relative;
    display: table;
    margin: 30px 40px;
    padding: 40px;
    border-radius: 30px;
    background-color: #f8f9fd;
    &::after {
      @include cb();
    }
    .txt {
      display: table-cell;
      vertical-align: middle;
      padding-left: 70px;
    }
  }
  .view {
    margin-top: 35px;
    display: inline-block;
    @include title2($ta: left, $fz: 20px, $color: $mainColor);
    i {
      margin-left: 10px;
    }
    &:hover {
      color: $mainColor;
      .fas {
        color: $mainColor;
      }
    }
  }
  .svg {
    position: relative;
    display: table-cell;
    width: 300px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 12px 12px 2px 1px rgba(0, 86, 241, 0.2);
    vertical-align: middle;
    svg {
      max-width: 300px;
    }
    .st0 {
      fill: #eeedf2;
    }
    .st1 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st2 {
      fill: #efc12f;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st3 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st4 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st5 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st6 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st7 {
      fill: $svgColor;
    }
    .st8 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st9 {
      fill: #eab8b1;
    }
    .st10 {
      fill: #dc9695;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st11 {
      fill: #eeced1;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st12 {
      fill: #cb7272;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st13 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st14 {
      fill: #d3d5e7;
    }
    .st15 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st16 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st17 {
      fill: #ececee;
    }
    .st18 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st19 {
      fill: #fcf5f2;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st20 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st21 {
      opacity: 0.4;
      fill: #ffffff;
    }
    .st22 {
      opacity: 0.7;
      fill: #ffffff;
    }
    .st23 {
      fill: #69adf7;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st24 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 7;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st25 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st26 {
      fill: #dbe7fe;
    }
    .st27 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st28 {
      fill: #dd9796;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st29 {
      fill: #eeced1;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st30 {
      fill: #cb7272;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st31 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st32 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st33 {
      fill: #dae6fd;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st34 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st35 {
      opacity: 0.69;
      fill: #ffffff;
    }
    .st36 {
      opacity: 0.95;
      fill: #ffffff;
    }
    .st37 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st38 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st39 {
      fill: $svgColor;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st40 {
      fill: #ffffff;
    }
    .st41 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st42 {
      fill: #f1f6ff;
    }
    .st43 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st44 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st45 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st46 {
      fill: #e09287;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st47 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st48 {
      fill: #69aef8;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st49 {
      fill: #d2d4e6;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st50 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st51 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st52 {
      fill: #eeedf2;
      stroke: #ffffff;
      stroke-miterlimit: 10;
    }
    .st53 {
      opacity: 0.3;
      fill: #a2655f;
    }
    .st54 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st55 {
      fill: #f0c330;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st56 {
      fill: #d2d4e6;
    }
    .st57 {
      fill: #ffffff;
      stroke: $svgColor;
      stroke-width: 5.7826;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st58 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5.7826;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st59 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.8913;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st60 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.4094;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st61 {
      fill: #ebebed;
    }
    .st62 {
      fill: #fbf2ed;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st63 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st64 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st65 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 4.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st66 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st67 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st68 {
      fill: #79caa1;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st69 {
      opacity: 0.3;
      fill: #ffffff;
    }
    .st70 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st71 {
      fill: #dbe7fe;
      stroke: $svgColor;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }
    .st72 {
      fill: $svgColor2;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st73 {
      fill: #f5f5f7;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st74 {
      fill: #d5d6de;
      stroke: $svgColor;
      stroke-width: 5;
      stroke-miterlimit: 10;
    }
    .st75 {
      fill: #d3d5e7;
      stroke: $svgColor;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st76 {
      fill: #79caa1;
    }
    .st77 {
      fill: none;
      stroke: $svgColor;
      stroke-width: 2.7;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st78 {
      fill: #69aef8;
    }
  }
}

/* footer */
#footer {
  width: 100%;
  padding: 100px 30px;
  background: #222;
}
#footer .inner {
  max-width: 1200px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #777;
  float: left;
  letter-spacing: 0;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #777;
  letter-spacing: 0;
}
#footer .inner address {
  width: 100%;
  float: left;
  font-size: 14px;
  font-style: normal;
  color: #777;
  margin-bottom: 20px;
  border-top: 1px solid #555;
  padding-top: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}
#footer .inner p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #666;
  width: 100%;
  float: left;
  letter-spacing: 0;
}
